**/bin/
**/obj/
**/.vs/
**/.idea/
**/*.user
**/*.suo

.git/
.gitignore

.env
.env.*
!.env.example

secrets/

**/appsettings.Development.json
**/appsettings.Local.json

KinetixApp/
Start-Kinetix-Docker.bat
Start-Kinetix-Docker.ps1