# SQL Server
MSSQL_SA_PASSWORD=KinetixDev_2026!SqlServer

# JWT_SECRET_KEY trebuie să aibă minimum 32 de bytes/caractere.
JWT_SECRET_KEY=KinetixDevelopmentJwtSecretKey_2026_ChangeThis
JWT_ISSUER=KinetixBackend
JWT_AUDIENCE=KinetixClients

# SMTP Gmail
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SMTP_SENDER_EMAIL=your-email@gmail.com
SMTP_SENDER_NAME=Kinetix Platform

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
